*{
    margin: 0;
    padding: 0;
}

main{
   
}

header{
    background-color: orange;
}
header h1{
    text-align: center;
}
nav a{
    background-color: darkgoldenrod;
    margin: 2px;
    padding: 2px;
}

.img-i-m{
    text-align: center;
}


footer{
    background-color: orange;
}
footer h5{
text-align: center;
}

/* ---------Pagina de Recetas---------- */

.img-r-m{
    text-align: center;
}

.nav-footer{
    text-align: center;
}

.nav-footer img{
    box-sizing: border-box;
    width: 30px;
    margin: 20px;
}

/* ---------Pagina de Acerca de---------- */
.img-a-m{
    text-align: center;
}